body {
  overflow: hidden;
}

.FormRegistration {
  background-image: linear-gradient(
      rgba(118, 97, 236, 0.5),
      rgba(100, 9, 0, 0.5)
    ),
    url('../../images/bg-01.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  .mainConteiner {
    position: relative;

    border-radius: 10px;
    font-family: Montserrat;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 380px;
    height: 600px;

    h1 {
      font-family: SourceSansPro-Bold;
      font-size: 36px;
      color: #294192;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 380px;

      input {
        width: 358px;
        height: 50px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        margin: 10px 0 10px 0;
        padding: 0 0 0 20px;
        font-size: 14px;
        font-weight: 500;
        color: #222;
        box-shadow: rgba(100, 100, 111, 0.2) 10px 7px 29px 0px;
      }
    }
    .checkboxInfo {
      display: flex;
      align-items: center;
      height: 50px;

      input {
        width: 15px;
        height: 15px;
        margin: 0;
      }

      label {
        font-size: 12px;
        font-weight: 600;
        color: #eaeaea;
        margin-left: 10px;
      }
    }

    button {
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 5px;
      padding: 17px 20px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      background-image: linear-gradient(to left, #74ebd5, #9face6);
      margin: 20px 0 20px 0;
    }

    .bottomText {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 20px;
      margin-top: 50px;

      p {
        color: #eaeaea;
        font-weight: 500;
        margin: 0;
      }

      .link {
        font-weight: 700;
        color: #eaeaea;
        text-decoration: underline;
        margin-left: 7px;
      }
    }
  }
}
